#
# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
{
# Uncomment the next line to get a lot of information in the log file
#    debug
    admin off
    log {
        output file /var/log/caddy/access.log {
                roll_size 1gb
                roll_keep 5
                roll_keep_for 720h
        }
    }
	local_certs
	skip_install_trust
}

:80 {

    handle * {
      reverse_proxy http://172.28.5.2:5678 {
        header_down Access-Control-Allow-Origin *
      }
    }
}

